/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

.quentn-flipclock {
    display:inline-block;
    text-align:center;
    font-family: arial,sans-serif;
}

.countdown-fixed {
    position: fixed;
    z-index: 99;
    width: 100%;
}

.quentn-countdown-wrapper {
    background-color: #2a2a2a;
    text-align: center;
    padding: 15px 0;
    color: #fff;
    font-family: arial,sans-serif;
}

.quentn-countdown-wrapper .pre-header {
    font-size: 16px;
    line-height: 1.6em;
    padding-bottom: 10px;
}